@media (min-width: 1200px) and (max-width: 2999px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: calc(1.5rem + 1.5vw) !important;
  }
  h2 {
    font-size: 3vw !important;
  }
  h3 {
    font-size: 2vw !important;
  }
  p {
    font-size: 1.5vw !important;
  }
  #Container {
    display: grid;
    grid-template-columns: 15%[aside] 70% [main] 15%[ aside];
    grid-template-rows: 4%[top] 40%[main] 50%[staff];
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  nav {
    display: grid;
    grid-area: top top top;
    grid-template-rows: repeat(autofill, minmax(250px, 1fr));
    grid-column: 1/-1;
    height: 5rem;
    border: 1px solid black;
    border-bottom: none !important;
  }
  li > a {
    display: inline-block;
    font-size: 1.3rem;
  }
  li > a:hover {
    background-color: rgb(66, 66, 224);
    color: rgb(255, 255, 255);
  }
  .here {
    display: none;
  }
  .nocol {
    width: 100%;
  }
  button {
    display: contents;
  }
  .topnav .icon {
    display: none;
  }
  .main {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: main;
    height: auto;
    grid-row: 2/3;
    grid-column: 1/-1;
    border: 1px solid;
    border-top: none !important;
  }
  .us {
    height: auto;
    grid-row: 1/2;
    width: 70rem;
    text-align: center;
    margin-top: 5%;
  }
  .t {
    height: 100px;
    text-align: center;
  }
  h1 {
    text-align: center;
    grid-column: 1/-1;
    height: 50px;
  }
  .per {
    display: grid;
    grid-row: 3/3;
    grid-column: 1/-1;
    grid-template-rows: repeat(autofit, minmax(250px, 30% 70%));
  }
  .per > h2 {
    text-align: center;
    text-decoration: underline;
    grid-row: 1/2;
    margin-top: 5%;
  }
  .staff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
  .card > img {
    border-radius: 150px;
    width: 300px;
    height: 300px;
  }
  .p {
    text-align: center;
    word-spacing: 2px;
  }
}

/* Large devices (desktops, 768px and up)*/
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: calc(1.5rem + 1.5vw) !important;
  }
  h2 {
    font-size: 3vw !important;
  }
  h3 {
    font-size: 3vw !important;
  }
  p {
    font-size: 2.5vw !important;
  }
  #Container {
    display: grid;
    grid-template-columns: 15%[aside] 70% [main] 15%[ aside];
    grid-template-rows: auto;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  nav {
    display: grid;
    grid-area: top top top;
    grid-template-rows: repeat(autofill, minmax(250px, 1fr));
    grid-column: 1/-1;
    height: 5rem;
    border: 1px solid black;
    border-bottom: none !important;
  }
  li > a {
    display: inline-block;
  }
  li > a:hover {
    background-color: rgb(66, 66, 224);
    color: rgb(255, 255, 255);
  }
  .collapse,
  .navbar-collapse {
    display: none;
  }
  .navbar-toggler-icon {
    display: none;
  }

  button {
    display: contents;
  }
  .here {
    display: none;
  }
  .nocol {
    width: 60%;
  }

  .main {
    display: grid;
    height: auto;
    grid-column: 1/-1;
    grid-row: 2/2;
    border: 1px solid black;
    border-top: none;
    text-align: center;
  }
  .main > h1 {
    text-align: center;
    grid-column: 1/-1;
    height: 50px;
  }
  .us {
    width: 100%;
    text-align: center;
  }
  .us > h3 {
    text-decoration: underline;
  }
  .card-deck {
    justify-content: center;
  }
  .card {
    width: 10rem !important;
    height: 10rem !important;
  }
  .card > img {
    width: 100% !important;
    height: 100% !important;
  }
  .t {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .per {
    grid-column: 1/-1;
    margin-top: 10%;
    text-align: center;
    align-items: center;
  }
  .card {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .card > img {
    border-radius: 150px;
    width: 300px;
    height: 300px;
  }
  .p {
    margin-top: 5%;
    text-align: center;
    font-size: 20px !important;
    color: #000000;
    word-spacing: 2px;
  }
  [data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
  }

  [data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: rgb(0, 0, 0);
    margin-top: -50px;
    margin-left: 20px;
  }

  [data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 320px) and (max-width: 766px) {
  body {
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  aside {
    display: none;
  }
  body > h1 {
    font-size: 10vw !important;
  }
  body > h2 {
    font-size: 8vw !important;
  }
  body > h3 {
    font-size: 6vw !important;
  }
  body > p {
    font-size: 2vw !important;
  }
  #Container {
    display: block;
    padding: 0;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding-left: 3px;
    padding-right: 3px;
  }
  .nocol {
    display: none;
  }
  .here {
    display: inline-block;
    list-style: none;
    border-radius: 50px;
    background-color: #3333ff;
    width: auto;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-family: inherit;
    font-size: 20px;
  }
  .us {
    height: auto;
  }
  .t {
    height: auto;
  }
  .t > p {
    font-size: 2.4vh;
  }
  .us > h3 {
    text-decoration: underline;
  }
  .per {
    width: 100%;
    height: 57rem;
  }
  .t > p {
    margin-top: 5%;
    word-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify !important;
  }
  .card-deck {
    padding-left: 11%;
  }
  .card {
    border-radius: 150px;
    width: 80%;

    margin-top: 50px;
    border: 1px solid;
  }
  .card > img {
    border-radius: 150px;
    width: 100%;
    height: 100%;
  }
}
