@media (min-width: 1200px) and (max-width: 2992px) {
  body {
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: calc(1.5rem + 1.5vw) !important;
  }
  h2 {
    font-size: 3vw !important;
  }
  h3 {
    font-size: 2vw !important;
  }
  p {
    font-size: 1.5vw !important;
  }
  #Container {
    display: grid;
    grid-template-columns: 15%[aside] 70% [main] 14.8%[ aside];
    padding: 0;
    width: device-width;
    grid-template-rows: auto;
    grid-template-areas:
      "top top top"
      "banner banner banner"
      "left . main . right"
      "foot foot foot";
    grid-gap: 1px;
    font-family: "Raleway", sans-serif;
  }
  nav {
    display: grid;
    grid-area: top top top;
    grid-template-rows: repeat(autofill, minmax(250px, 1fr));
    grid-column: 1/-1;
    height: 5rem;
    border: 1px solid black;
  }
  .collapse,
  .navbar-collapse {
    display: none;
  }
  .nocol {
    width: 100%;
  }
  button {
    display: contents;
  }
  .topnav .icon {
    display: none;
  }
  li > a {
    display: inline-block;
    font-size: 1.3rem;
  }
  li > a:hover {
    background-color: rgb(66, 66, 224);
    color: rgb(255, 255, 255);
  }
  .mid {
    border-right: 1px solid;
    border-left: 1px solid;
  }
  .here {
    display: none;
  }
  header {
    display: grid;
    grid-area: banner banner banner;
    grid-template-rows: repeat(autofill, minmax(250px, 1fr));
    grid-column: 1/-1;
    height: 40rem;
  }
  header > img {
    height: 100% !important;
    width: 100% !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .left {
    display: grid;
    grid-area: left;
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .main {
    display: grid;

    justify-content: space-evenly;

    grid-template-rows: 1fr 1fr;
    grid-area: main;
    grid-column: 2/3;
    margin-top: 70px;
    margin-bottom: 200px;
  }
  .h1 {
    text-align: center;
    grid-column: 1/-1;
    height: 50px;
  }
  .h1 > h1 {
    text-align: center;
  }
  .service {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
    justify-self: center;
  }
  .card {
    width: 15rem !important;
    height: auto !important;
  }
  .card-body {
    overflow-wrap: break-word;
    text-align: center;
  }
  .card > svg {
    align-self: center;
  }

  .right {
    display: grid;
    grid-area: right;
    grid-column: 3/3;
  }
  .op {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1/-1;
    margin-top: 50px;
  }
  .op > h2 {
    grid-row: 1/1;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
  }
  .l {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 10px;
  }
  .r {
    grid-row: 3/4;
    grid-column: 2/2;
    margin-right: 10px;
  }
  .l2 {
    grid-row: 4/4;
    grid-column: 1/2;
    margin-left: 10px;
  }
  .rec {
    grid-column: 1/-1;
    text-align: center;
    background-color: #f4f4f8;
  }
  .rec > img {
    width: 30rem;
    height: 30rem;
    align-self: center;
  }
  .vid {
    width: 300px;
    height: 300px;
  }
  .mob {
    display: none;
  }
  .e {
    display: none;
  }
  .end {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
  }
  .end > img {
    width: 100%;
    height: 500px;
  }

  .te > p,
  h1 {
    grid-row: 1/1;
    grid-column: 2/2;
    text-align: left;
  }
  .te > p {
    font-size: 30px !important;
  }
  .te > h1 {
    font-size: 50px !important;
    font-weight: bolder;
  }
  .bla {
    margin-top: 100px;
    grid-column: 1/-1;

    font-size: 40px !important;
  }
  .bla > h1 {
    text-align: right;
  }
  .mess {
    grid-row: 3/3;
    grid-column: 2/2;
  }
  .bottom {
    display: grid;
    grid-area: foot foot foot;
    grid-template-rows: repeat(autofit, minmax(250px, 1fr));
    grid-template-columns: 20% 75%;
    grid-gap: 10px;
    grid-column: 1/-1;
    height: 10rem;
    border: 2px solid;
  }
  .logo {
    grid-column: 1/2;
    border-right: 3px solid black;
    align-self: center;
  }
  .logo > img {
    height: 8.5rem;

    margin-left: 40px;
  }
  .red {
    margin-left: 30px;
  }
  .net {
    display: flex;
    flex-direction: row;
  }
  .net > img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  .net > img:hover {
    animation: shake 0.5s;

    animation-iteration-count: infinite;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: 5vw !important;
  }
  h2 {
    font-size: 4.5vw !important;
  }
  h3 {
    font-size: 3.5vw !important;
  }
  p {
    font-size: 1.8vw !important;
  }
  #Container {
    display: grid;
    padding: 0;
    grid-template-columns: 15%[aside] 70% [main] 15%[ aside];
    grid-template-rows: auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  nav {
    display: grid;
    grid-area: top top top;
    grid-template-rows: repeat(autofill, minmax(250px, 1fr));
    grid-column: 1/-1;
    height: 5rem;
    border: 1px solid black;
  }
  li > a {
    display: inline-block;
    font-size: 1.2rem;
  }
  li > a:hover {
    background-color: rgb(66, 66, 224);
    color: rgb(255, 255, 255);
  }
  .collapse,
  .navbar-collapse {
    display: none;
  }
  .navbar-toggler-icon {
    display: none;
  }

  button {
    display: contents;
  }
  .here {
    display: none;
  }
  .nocol {
    width: 60%;
  }
  header {
    display: grid;
    grid-area: banner banner banner;
    grid-template-rows: repeat(autofill, minmax(250px, 1fr));
    grid-column: 1/-1;
    height: 35rem;
  }
  header > img {
    height: 100% !important;
    width: 100% !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .left {
    display: grid;
    grid-area: left;
    grid-column: 1/2;
    grid-row: 3/3;

    height: 30rem !important;
  }
  .main {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: auto;
    grid-area: main;
    grid-column: 2/3;
    grid-row: 3/3;
  }
  .h1 {
    grid-column: 1/-1;
    height: 50px;
  }
  .h1 > h1 {
    text-align: center;
  }
  .service {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: center;
  }
  .card {
    width: 14rem !important;
    height: auto !important;
  }
  .card > svg {
    align-self: center;
  }
  .right {
    display: grid;
    grid-area: right;
    grid-column: 3/3;
    grid-row: 3/3;
    height: 30rem !important;
  }
  .op {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1/-1;
    margin-top: 50px;
  }
  .op > h2 {
    grid-row: 1/1;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
  }
  .l {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 10px;
  }
  .r {
    grid-row: 3/4;
    grid-column: 2/2;
    margin-right: 10px;
  }
  .l2 {
    grid-row: 4/4;
    grid-column: 1/2;
    margin-left: 10px;
  }
  .rec {
    grid-column: 1/-1;
    text-align: center;
    background-color: #f4f4f8;
  }
  .rec > img {
    width: 30rem;
    height: 30rem;
    align-self: center;
  }
  .vid {
    width: 300px;
    height: 300px;
  }
  .mob {
    display: none;
  }
  .e {
    display: none;
  }
  .end {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
  }
  .end > img {
    width: 100%;
    height: 500px;
  }

  .te > p,
  h1 {
    grid-row: 1/1;
    grid-column: 2/2;
    text-align: left;
  }
  .te > p {
    font-size: 30px !important;
  }
  .te > h1 {
    font-size: 50px !important;
    font-weight: bolder;
  }
  .bla {
    margin-top: 100px;
    grid-column: 1/-1;

    font-size: 40px !important;
  }
  .bla > h1 {
    text-align: right;
  }
  .mess {
    grid-row: 3/3;
    grid-column: 2/2;
  }
  .bottom {
    display: grid;
    grid-area: foot foot foot;
    grid-template-rows: repeat(autofit, minmax(250px, 1fr));
    grid-template-columns: 20% 75%;
    grid-gap: 10px;
    grid-column: 1/-1;
    height: 10rem;
    border: 2px solid;
  }
  .logo {
    grid-column: 1/2;
    border-right: 3px solid black;
    align-self: center;
  }
  .logo > img {
    height: 8.5rem;
  }
  .red {
    margin-left: 30px;
  }
  .net {
    display: flex;
    flex-direction: row;
  }
  .net > img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) and (max-width: 766px) {
  body {
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  aside {
    display: none;
  }
  body > h1 {
    font-size: 10vw !important;
  }
  body > h2 {
    font-size: 8vw !important;
  }
  body > h3 {
    font-size: 6vw !important;
  }
  body > p {
    font-size: 2vw !important;
  }
  #Container {
    display: block;
    padding: 0;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  .nocol {
    display: none;
  }
  .nav-link:active {
    background-color: #3333ff;
    color: white;
  }
  .here {
    display: inline-block;
    list-style: none;
    border-radius: 50px;
    background-color: #3333ff;
    width: auto;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-family: inherit;
    font-size: 20px;
  }
  .h1 {
    text-align: center;
  }
  .main {
    display: block;
  }
  .card {
    margin: auto;
    align-items: center;
    text-align: center;
  }
  .a {
    margin: auto !important;
    margin-bottom: 48px !important;
  }
  .right {
    display: none !important;
  }
  .op {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 17% 31% 31% 31%;
    grid-column: 1/-1;
    margin-top: 50px;
  }
  .op > h2 {
    grid-row: 1/1;
    grid-column: 1/-1;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
  }
  .l {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 10px;
  }
  .r {
    grid-row: 3/4;
    grid-column: 2/2;
    margin-right: 10px;
  }
  .l2 {
    grid-row: 4/4;
    grid-column: 1/2;
    margin-left: 10px;
  }
  br {
    display: none;
  }
  .rec > h2 {
    margin-top: 50px;
  }
  .rec {
    margin-top: 150px;
    background-color: #f4f4f8;
  }
  .bottom {
    display: block;
    height: 14rem;
  }
  .logo {
    display: none !important;
  }
  .red {
    text-align: center;
  }
  .net > img {
    height: 85px !important;
  }
  .end {
    display: block;
    width: 100%;
  }
  .tex {
    margin-top: 50px;
  }
  .mess {
    display: none;
  }
  .e {
    width: 7rem !important;
    height: 7rem !important;
    align-self: center;
  }
  .end > img {
    width: 100%;
  }
  .des {
    display: none;
  }
  .mob {
    width: 100%;
  }
}
